[2017-01-27 12:38] recoverrelax opened #2 "Presenters"
Can any object be used to save state? For example, my presenters don´t survive configuration changes. Can i use its instance to save state, and it will be restored? My guess is that as it's a different instance before and after rotation, it won't work

[2017-01-27 13:32] vRallev commented on #2
That's exactly for what we're using the library, too. We're using [this library](https://github.com/grandcentrix/ThirtyInch) and submitted some pull requests to save the state after a process death. [That's the corresponding PR](https://github.com/grandcentrix/ThirtyInch/pull/51) for this library.

So any object's state can be saved, e.g.
[code]

[2017-01-27 14:02] recoverrelax commented on #2
yes i tried, but it isn't working. maybe it has something to do about Kotlin. I'll debug and let u know. thank you!

[2017-01-27 14:04] vRallev commented on #2
The same thing works for us in Kotlin
[code]

[2017-01-27 14:27] recoverrelax commented on #2
for some reason isn't working. I'm saving it in presenter's onSavedInsanceState and restoring it in onCreate. I minimize the app, kill it with android studio 'kill app', then maximize. It doesn't save state for some reason. gonna have to look deeper

[2017-01-27 15:19] deviant-studio opened #3 "Bug with Serializable field in Kotlin class"
Hi, guys!
Great lib! I think there is no support for serializable (parcelable?) kotlin properties.
Here is my class
[code]
and here is how i use it in Activity
[code]

Android Studio complains on this autogenerated line:
[code]

[2017-01-27 15:39] vRallev commented on #3
Hey, thanks for reporting. I noticed this myself yesterday and it's fixed in version `1.0.1`. Can you give it a try?

[2017-01-27 15:50] deviant-studio commented on #3
that was amazingly fast! thanks, it works :)

[2017-01-27 15:51] vRallev commented on #3
Nice!

[2017-01-27 15:51] #3 closed

[2017-01-31 05:38] maxost opened #4 "Kotlin collections"
Hi. Thanks for handy lib, however I cannot save/restore Kotlin Collections:

[code]

Compiler error message

Build.gradle
[code]

As a workaround I'm writing custom bundlers for each list.

[2017-01-31 09:00] vRallev commented on #4
That's actually expected and there's no better way than writing a custom `Bundler`. But it probably makes sense to provide some bundlers in library though, so that not everybody has to do this on their own.

[2017-02-11 16:04] gugakatsi opened #5 "error during building gradle"
[code]
that's all i get when i try to build gradle , thanks in advance.

[2017-02-11 19:24] rubensousa opened #6 "Issue with generic classes"
I started using this library in a new project instead of IcePick and faced this error.

Here's the generic class:

[code]

After building I get the following error:

[code]

Generated code is:

[code]

IcePick generated this instead:

[code]

This would be solved by removing the generic types in ```T extends LoadingFragment```

[2017-02-13 13:25] vRallev commented on #5
Hi, I cannot reproduce this issue. Can you provide more information? Or better a simple demo project that reproduces the issue?

However, I ran into other issues with Jack. In the meantime I would recommend disabled Jack and to use RetroLambda instead.

[2017-02-13 14:20] vRallev commented on #6
Hi, I tried to compile your class, but I'm unable to setup all base classes. Could you provide a sample project? Here's what I have
[code]
[code]
[code]
[code]
[code]

But there's an error in the `LoadingFragment`

[2017-02-13 15:58] gugakatsi commented on #5
@vRallev i'll do it tomorrow morning , no problem.

[2017-02-15 13:34] rubensousa commented on #6
Sample project here: https://github.com/rubensousa/StateSaverIssue

[2017-02-15 14:10] vRallev commented on #6
Awesome, I was able to reproduce the issue even with a simpler class
[code]

[2017-02-15 14:12] rubensousa commented on #6
Awesome! I'll be waiting for a fix

[2017-02-15 16:33] #4 closed

[2017-02-15 16:33] #6 closed

[2017-02-15 16:35] vRallev commented on #4
Default bundlers are in version `1.0.3`, e.g. `BundlerListString`.

[2017-02-15 16:35] vRallev commented on #6
That should be fixed in version `1.0.3`. Please let me know if it works for you!

[2017-02-15 16:36] vRallev commented on #2
Closing because of inactivity. Feel free to reply nonetheless.

[2017-02-15 16:36] #2 closed

[2017-02-15 16:37] vRallev commented on #5
@gugakatsi I released the new version `1.0.3`, which adds a specific fix for the Jack compiler. Please give this new version a try and let me know if it works for you or not.

[2017-02-15 18:08] gugakatsi commented on #5
@vRallev worked fine now, thanks again, sry that i could posted info that i promised , did't really have time since than.

[2017-02-15 18:40] vRallev commented on #5
No worries, can the ticket be closed?

[2017-02-15 18:44] gugakatsi commented on #5
@vRallev yes of course.

[2017-02-15 18:44] #5 closed

[2017-02-23 15:06] tudorgk opened #7 "State saver library doesn't seem to work on Kotlin 1.0.6"
Hello guys!

I am trying to find a good library for handling instance saving/restoring and ended up here with the promise that it will work with Kotlin. I don't know about other versions, but it seems that for 1.0.6 it doesn't work.

I have pasted here a link to a demo project that  confirms the issue. You can find the repo [here](https://github.com/tudorgk/StateSaverKotlin).

Best of luck,
Tudor

[2017-02-23 15:26] vRallev commented on #7
Hey,

I found the issue in your sample. Change
[code]
to
[code]

Kotlin has its own annotation processor. After that it should work.

I'm sorry about the trouble, I forgot to mention this in the documentation.

[2017-02-23 15:30] tudorgk commented on #7
Great!

Keep up the good work!

[2017-02-23 15:30] #7 closed

[2017-02-24 11:09] tudorgk opened #8 "Support for Kotlin enum classes?"
Hi again,

Java enums seem to work, but when trying to serialise kotlin enum classes, I get a stack overflow when processing annotations.

Do you have any knowledge of this issue, or I'm doing something wrong here?

Cheers!

[2017-02-24 12:36] maxost commented on #8
(just walking around) I have no problems with Kotlin enum classes. Please provide some code.

[2017-02-24 14:20] vRallev commented on #8
I can reproduce the issue fairly easy with following sample, thanks for pointing it out!
[code]

[2017-02-24 15:20] #8 closed

[2017-02-24 15:20] vRallev commented on #8
Fixed in version `1.0.4`.

[2017-03-01 20:46] gborland opened #9 "Infinite loop causes build failure"
I am getting an infinite loop causing a StackOverflowError in Gradle when using android-state with Kotlin.

I have these two lines of code:
[code]

When I compile, I get this error:
[code]
The log continues like that for several hundred lines.

If I remove the `@State` annotation from those two lines, the build completes successfully.

Kotlin 1.1.0
android-state 1.04

[2017-03-01 21:19] vRallev commented on #9
I cannot reproduce the issue. I used the latest version of the library and Kotlin 1.1 as well. Could you share `YearMonth` or better a sample that reproduces the issue?

[2017-03-01 21:22] gborland commented on #9
It's [`org.threeten.bp.YearMonth` from the threetenbp project](https://github.com/ThreeTen/threetenbp/blob/master/src/main/java/org/threeten/bp/YearMonth.java), included via https://github.com/JakeWharton/ThreeTenABP.

[code]

I'll try to isolate a sample.

[2017-03-01 21:25] gborland commented on #9
It works if I restore the `@State` annotation on the `String` field, so it does seem to be `YearMonth` which is causing the problem.

[2017-03-01 21:26] vRallev commented on #9
Yes, I can reproduce the issue now, thanks!

[2017-03-02 13:55] #9 closed

[2017-03-02 13:55] vRallev commented on #9
It's fixed in version `1.0.5`. Thanks for reporting.

[2017-03-07 15:10] eapache opened #10 "Licensing question"
Hi there, we're interested in using this library, but we have a question about the license. As this library uses code-generating annotations, we're concerned that the output from the preprocessor might contain parts of the EPL source code in it thereby making the generated source a derivative work of the preprocessor. Can you confirm if this is the case and if so is it your intention that the outp

[2017-03-07 15:48] vRallev commented on #10
I'm not a lawyer, so this is hard to answer for me. I'd say yes, the generated code is licensed under EPL, because it's generated with snippets which are licensed under EPL.

Why is this a problem for you? The generated code will only work if the library can be found at runtime, which is also licensed under EPL.

[2017-03-07 16:16] eapache commented on #10
I'm not either, just trying to cover my bases. Everything here is based on my understanding of the EPL.

That's unfortunate.

The terms of the EPL (as I understand it) effectively require you to make source available with the binary. This isn't a problem for the library itself, since `android-state` is already publicly available here, and the EPL isn't viral (just including it in a project does no

[2017-03-07 16:22] eapache commented on #10
To be a bit more concrete, if we had the following class using android-state:
[code]

Then (per my understanding, *if* the generated code is also under the EPL) we are required to publish the source for `class SecretSauceFoo$$StateSaver`, which we do not want to do since it would expose the existence and naming of `SecretSauceFoo` and `secretIntThing`.

[2017-03-07 16:40] vRallev commented on #10
I see it a little different. EPL requires you to publish changes you made to the framework. You didn't manually change those snippets in the generated class. You also don't need to publish what you built on top of the framework.

So in my opinion you don't need to make the source available as long as you didn't modify the library itself. Then you need to publish those changes.

I think [question 1

[2017-03-07 17:24] 2xbass commented on #10
@vRallev, if the generated code contains snippets that are licensed under the EPL then the generated code is arguably a derivative work of the snippets and therefore those changes also need to be made available under the EPL. This is a very specific case and not any other case such as making changes to the framework.

Is it your intention that the generated code would be subject to licensing terms

[2017-03-07 17:46] vRallev commented on #10
That's interesting. Thanks for the links.

No, I don't intend that the generated code is subject to licensing terms. What would be the easiest way to resolve this? Do you have a recommendation?

[2017-03-08 17:57] eapache commented on #10
I would think that something like the doxygen sentence would be sufficient. I'm not sure if it would go better on the main page or directly in the license file. I'm also not sure how things are affected by this project being derived from icepick. Perhaps @frankiesardo would care to way in?

[2017-03-08 18:35] vRallev commented on #10
This would probably be fine as the processor was completely rewritten in Java and has nothing in common with the processor in Icepick. The generated code is also not the same and no code pieces of the generated code were reused. Only the library code is forked from Icepick.

I'll create a PR tomorrow.

[2017-03-09 20:24] 2xbass commented on #10
@vRallev, the ideal thing would be that you add a Doxygen-style in the license file such as: "Documents produced by android-state are deemed to be derivative works derived from the input used in their production and are deemed not to be derivative works of android-state; they are not affected by this license."

[2017-03-13 20:26] carlbenson commented on #10
The paper clearly states that it only implies EPL in the generated code if the generator inserts pieces of its own source code into the generated code. Is this the case here?

[2017-03-13 21:38] vRallev commented on #10
Probably not. I reached out to our legal team. I'm sorry about the delay.

[2017-03-14 16:54] eapache commented on #10
Thanks for being thorough, hopefully they agree that a doxygen-style note in the license is sufficient.

[2017-03-15 16:30] 2xbass commented on #10
"Pieces of its own source code" could potentially include literal strings embedded in the source code (meaning interspersed in one or more source files). One clean way around this is to ensure such strings are externalized and in a separately licensed file.

[2017-03-16 09:00] carlbenson commented on #10
[StateProcessor.java#293](https://github.com/evernote/android-state/blob/master/processor/src/main/java/com/evernote/android/state/StateProcessor.java#L293) is just one example of injecting pieces of the source code into the user's code.

[2017-03-16 16:12] Kevinwlee opened #11 "IllegalArgumentException causing build failure"
I'm getting `java.lang.IllegalArgumentException: expected name but was null`  when using android-state with Kotlin.

I have this class

[code]

I have this in my fragment:
[code]

build.gradle
[code]

When I compile the application I get the following error:
[code]

I am able to build successfully when I remove `@State` from the field.

[2017-03-16 17:00] vRallev commented on #11
I can reproduce the issue with the snippets. Seems like there's a problem with the inner class. If I remove the outer class, then it's working fine.

[2017-03-16 18:29] vRallev commented on #11
I've uploaded a snapshot build with a fix. Could you give it a try and let me know if that works?
[code]

[2017-03-16 18:50] Kevinwlee commented on #11
`BUILD SUCCESSFUL`
That seems to have fixed it!

[2017-03-16 19:56] vRallev commented on #11
Nice! You can keep using the snapshot build. I'll probably release 1.0.6 next week.

[2017-03-16 20:06] Kevinwlee commented on #11
Sounds great!  Thanks for fixing it so quickly.

[2017-03-20 09:58] vRallev commented on #10
Our legal team is working on the issue. What Doxygen did in their project will be probably enough, but I'm waiting for a final confirmation. Software licenses aren't that easy :-) I'll let you know when I get a response.

Thanks again for bringing up that issue.

[2017-03-25 18:34] jaimeagudo opened #12 "Build error"
Any clues about why is this?

[code]

I am on Android Studio 2.4 Preview 2
Build #AI-171.3804685, built on March 15, 2017
JRE: 1.8.0_112-release-b736 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

My `build.gradle`

[code]

[2017-03-25 18:35] jaimeagudo opened #13 "Build error with Android Gradle plugin 2.4.0-alpha3"
Any clues about why is this?

[code]
[code]

I am on Android Studio 2.4 Preview 2
Build #AI-171.3804685, built on March 15, 2017
JRE: 1.8.0_112-release-b736 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

My `build.gradle`

[code]

[2017-03-25 18:36] #12 closed

[2017-03-25 20:09] vRallev commented on #13
Which Android plugin are you using? I can't spot it. Can you provide a demo project that reproduces the issue?

[2017-03-25 21:32] ersin-ertan commented on #13
I'm getting the same error too
[code]
I just switched from `apt` to `annotationProcessor`

[2017-03-25 22:13] jaimeagudo commented on #13
root `build.gradle`

[code]

[2017-03-25 22:18] vRallev commented on #13
Could you try the Android gradle plugin version `2.3.0` instead of `2.4.0-alpha1`? We have a similar setup and don't run into such an issue.

[2017-03-25 22:22] ersin-ertan commented on #13
I can confirm that `2.3.0` does not give the build error.

[2017-03-25 22:28] jaimeagudo commented on #13
Confirmed it's the alpha plugin... sorry for bothering but google didn't even give me a clue of any related issue except for other evernote component so I thought it could be a particular tweak you use to have in your libraries. Thanks again 👍

[2017-03-25 22:29] vRallev commented on #13
Maybe you can give alpha3 a try. But it definitely looks like a bug in the gradle plugin.

[2017-03-25 22:29] ersin-ertan commented on #13
I'm using alpha3
https://github.com/evernote/android-state/issues/13#issuecomment-289240950

[2017-03-26 21:46] vRallev commented on #13
Yeah, I'll try to find the reason for this issue.

[2017-03-27 16:55] vRallev commented on #13
I was able to reproduce the issue, but unfortunately I don't know what's wrong. I've created a bug report here: https://code.google.com/p/android/issues/detail?id=267031

[2017-04-06 16:14] vRallev commented on #10
I'm sorry for the too long delay, but I finally received a response. All generated files will be licensed differently to avoid any confusion. I'll update the library tomorrow and release a new stable version.

[2017-04-06 17:52] efung opened #14 "Clarify usage of kapt in build.gradle"
In the README.md, it says this is needed in your `build.gradle`:

[code]

If I'm not using Kotlin at all in my project, I wouldn't be including the Kotlin gradle plugin, so wouldn't have `kapt`.

Or does the comment there mean if your app is using a mix of Kotlin and Java?

[2017-04-06 20:13] vRallev commented on #14
Well, the README says this:
[code]

So..
* Java only: `annotationProcessor`
* Kotlin only: `kapt`
* Java and Kotlin mixed: `kapt`

I hope it's clearer now.

[2017-04-06 20:55] efung commented on #14
Thanks for the clarification. I don't use Kotlin, so I didn't know what
kapt was for at first.

On Apr 6, 2017 16:13, "Ralf" <notifications@github.com> wrote:

[2017-04-06 21:00] vRallev commented on #14
No prob!

[2017-04-06 21:00] #14 closed

[2017-04-07 09:52] vRallev commented on #13
Update: The workaround in the ticket works for me:
[code]

However, plugin alpha4 has another problem.

[2017-04-07 10:04] ersin-ertan commented on #13
If the other problem you are talking about is this, then there is a solution:
https://androidstudio.googleblog.com/2017/04/android-studio-24-preview-4-is-now.html
Known Issues

After updating the Android plugin version, you need to stop the Gradle daemon to apply the update (Issue 267099). Otherwise, Gradle sync and builds fail with the following error: Could not initialize class com.android.ide.c

[2017-04-07 10:43] vRallev commented on #13
Oh, yes, didn't notice this issue. Thanks!

I keep this issue open until the final version is released. Hopefully it won't be necessary to apply the workaround.

[2017-04-07 12:09] #10 closed

[2017-04-07 12:09] #11 closed

[2017-04-21 23:10] radzio opened #15 "Proguard issues with code obfuscation"
**android-state** has exactly the same issue with code obfuscation like the icepick lib.

In every project, I'm using android-state class names are not obfuscated even if they can be.

Related issue:
https://github.com/frankiesardo/icepick/issues/97

[2017-04-22 08:59] vRallev commented on #15
Can you provide a proguard config that will fail, if the library wouldn't come with its own config? To be honest, I haven't tried it myself, yet. But I definitely would like to improve the situation.

[2017-04-22 16:23] radzio commented on #15
@vRallev I'm able to reproduce this error in **android-state** demo project. I've just compiled it with Android Studio 2.3.1.

IMO it might be connected to Android Studio Proguard version. In Android 2.3 Google [has updated](https://sites.google.com/a/android.com/tools/recent/androidstudio23canary3isnowavailable) Proguard to 5.3.2. Moreover,  in January and February, everything was fine. I have fo

[2017-04-25 09:51] vRallev commented on #15
Okay, thanks! I'll take a look at this this week.

[2017-05-05 09:03] paour opened #16 "Support annotating methods @State"
Taking your improvements to Icepick one step further, why not allow annotations on a getter/setter-like method so that state that is not backed up to a variable can be saved.

My use-case is for a media player that should persist the current seek of the track, which is available by asking the `MediaPlayer` instance, but is not usually saved in the fragment or activity state.

[2017-05-05 09:09] vRallev commented on #16
That sounds like an useful feature to me.

[2017-05-05 09:38] paour opened #17 "Saving and restoring state on superclasses"
This may be a product of the rewritten annotation processor, and refers to [this issue](https://github.com/frankiesardo/icepick/issues/9), which was fixed in Icepick.

If I have:

[code]

the annotation processor generates code for both activities, but when saving the state of an `ActivityB` instance, only `b` is saved.

Either the annotation processor needs to include the classe's parents' state

[2017-05-05 09:53] paour commented on #17
Whoops, please disregard, I missed the super call chain in `save` and `restore` and my code had a bug!

[2017-05-05 09:53] #17 closed

[2017-05-05 09:56] paour commented on #17
(the bug was: my fields weren't private, so the get/setters were bypassed)

[2017-05-05 10:24] vRallev commented on #17
:)

[2017-05-12 20:29] vRallev commented on #15
I'm really sorry for the too long delay. But I finally had time to take a look at it. It turned out, that two rules were wrong. I fixed that and published a new snapshot build. I'd appreciate if you could give it a try:
[code]

Note that this will break the reflection code, if you use `@State(reflection = true)`. I'll be working on that next.

[2017-05-13 08:38] vRallev commented on #13
I finally figured out what's wrong and now bundle the library classes in the annotation processor jar. This will be fixed in the next version. If you want, you can give the snapshot build a try:
[code]

[2017-05-13 08:42] vRallev commented on #16
After thinking about it, it's easier in my opinion to use a backing field. What you are suggesting:
[code]

You could achieve the same with a field and wouldn't need to annotate both methods.
[code]

[2017-05-13 09:31] vRallev commented on #15
I fixed the reflection part today. There's a new annotation `StateReflection` if you rely on reflection. Everything should be working properly now. Feedback is appreciated. Thanks for bringing up this issue!

[2017-05-13 10:14] paour commented on #16
The use-case I had in mind was more along the lines of

[code]

[2017-05-13 10:28] vRallev commented on #16
Change that to
[code]
And it's working.

[2017-05-13 14:52] #16 closed

[2017-05-15 10:45] recoverrelax opened #18 "BUG - Kotlin boolean variable"
i have this fields in a presenter:

[code]

And the annotation processor gives me this error:

[2017-05-15 10:53] recoverrelax commented on #18
- found put the problem. If a variable is declared like this (in kotlin)
`@State var isFlavorGo: Boolean = false`
the generated setter is like this:
`setFlavorGo()` and not 'setIsFlavorGo'. Than must mess with the annotation processor.

Anyway, it is a bug. Fixed it is simple, change the name `isFlavorGo` to `flavorGo`

[2017-05-15 10:56] recoverrelax commented on #18
was checking the change log, apparently the bug was already fixed. I'm using compile

[2017-05-15 11:27] vRallev commented on #18
No, I missed that case. Thanks for taking a longer at it.

[2017-05-15 12:22] vRallev commented on #18
It'll be fixed in the next version. I'd appreciate if you give the snapshot build a try
[code]

[2017-05-15 13:08] recoverrelax commented on #18
yes. it fixes the issue with the 1.1.0-SNAPSHOT.
Thanks for the fast feedbacl

[2017-05-15 13:08] #18 closed

[2017-06-05 11:15] #13 closed

[2017-06-05 11:15] #15 closed

[2017-06-14 07:42] talentprince opened #20 "StateSaver#getInjector return null"
Don't know why but the `getInjector` return null, can not find XXXX$$StateSaver generated class, so that all the @State field cannot be saved into system state bundle.

Something related to kapt?

[2017-06-14 08:03] vRallev commented on #20
Do you have a reproducible sample? Hard to say what's going wrong.

[2017-06-14 12:22] elye opened #21 "Recompilation with sight changes resulted evernote SavedState RestoreState no longer work"
When using evernote Android-State (v1.0.6 ... also tested with v1.1.0), a clean compilation will always work.

However if there's a minor code change, and I perform some recompilation (without clean compilation), the annotation processor generated `save` and `restore` is no longer accessible, hence causing the savedstate not accessible.

A clean compilation will restore the issue. (e.g. a new clea

[2017-06-14 12:56] vRallev commented on #21
Can you attach one of the generated classes after a clean build and the 2nd build?

[2017-06-14 14:50] elye commented on #21
For the first clean compile, from the below, I could then trace from

[code]

to the generated class

[code]

However, after some minor edit on unrelated code, the second compile (not clean one)... I could trace to the Abstract Class

[code]

[2017-06-14 14:57] elye commented on #20
Sounds similar to issue https://github.com/evernote/android-state/issues/21

[2017-06-14 15:01] vRallev commented on #21
With "trace from ... to" you mean in Android Studio? Could you check if the class is in the generated build folder nonetheless?

We didn't notice the problem so far and I tried to reproduce it. Could you a provide a sample for me?

[2017-06-14 15:08] elye commented on #21
"trace", meaning in debug mode, trace the code flow in Android Studio (F8 step in).
Yes, I still see the class in build/generated/source/kapt/FlavorDebug/...

Not sure if I could reproduce it using a small project. Will let you know if possible.

[2017-06-14 16:19] vRallev commented on #21
Could this be a problem with packaging the classes? It sounds like the generated classes aren't picked up anymore in the 2nd run. A sample would be great, although it doesn't sound like an issue with the library.

[2017-06-15 07:52] elye commented on #21
Hello vRallev,

I manage to create a simple project in https://github.com/elye/issue_evernote_state.
Step to reproduce the issue.

1.) Clone the repo
2.) Compile and run it on a device (with don't keep activity on)
3.) On background the App, and foreground. It will toast `State is correct`
4.) Now go to MainActivity.java and comment out `Log.d("Nothing", "Just log");`
5.) Compile it (not clean and

[2017-06-15 08:46] vRallev commented on #20
@talentprince Can you test the solution in #21?

[2017-06-15 12:43] elye commented on #21
vRallev, I have tried on `distributionUrl=https\://services.gradle.org/distributions/gradle-4.0-all.zip`. The issue still persist. Removing `apply plugin: 'kotlin-kapt'` works for the small design, but for the actual design, we'll face some Dagger recompilation issue. Each time the a double compilation required. Perhaps that's the reason also the issue is covered, as that would force a Kapt recomp

[2017-06-15 12:49] vRallev commented on #21
Did you sync Android Studio after changing the Gradle version? What happens if you install the apk with Gradle directly in a terminal (`./gradlew installDebug`)?

I wanted to raise an issue, but I cannot reproduce it anymore with the latest stable tools. If you have a sample with Gradle 4.0, then it's better if you raise the issue.

[2017-06-15 13:33] elye commented on #21
hi vRallev, I have explicitly test again with the small design with `distributionUrl=https\://services.gradle.org/distributions/gradle-4.0-all.zip`. It still exist, using the compilation from Android Studio. Gradle sync has been done. Try it on your side, you should see it too.

Apparently `./gradlew installDebug` is always good. (even for old gradle)

Perhaps not a Kapt issue, but incremental com

[2017-06-15 17:00] vRallev commented on #21
Yes, I had made more changes. With Gradle 4.0 and one Kotlin class I couldn't reproduce the issue in the sample anymore
[code]

[2017-06-16 13:45] elye commented on #21
That's very interesting. Yes, with a single Kotlin class, then having `distributionUrl=https\://services.gradle.org/distributions/gradle-4.0-all.zip` would not replicate the issue. Given that evernote/android-state is targeting those want to have both Java & Kotlin in the project, hence this is an acceptable solution.

Thanks vRallev.

ps: I think it's important to note this in readme etc, so user

[2017-06-16 16:59] vRallev commented on #21
Well, it's addressed in the README already. It says for only Java projects you should use `annotationProcessor` instead of `kapt`. I think we can close the issue, right?

[2017-06-18 14:10] elye commented on #21
I'm fine with that. If it is just Java project, perhaps the user could just use icepick.
Thanks for following up with the issue. Hope the other user who face the problem found the resolution here. Cheers.

[2017-06-18 16:37] vRallev commented on #21
Why icepick? This project works fine without Kotlin. It also has a few advantages over icepick. If you setup the project like described, then it works
[code]

[2017-06-18 16:37] #21 closed

[2017-06-18 16:37] vRallev commented on #20
Solution is in #21

[2017-06-18 16:37] #20 closed

[2017-06-20 05:17] ragunathjawahar opened #22 "Feature request: Type Converters"
There are situations where type converters could make saving state and restoration simple while using non-parcelable instances. Let's consider a scenario with a `BehaviorRelay` that emits parcelable `NewsUiState` objects.

- At any point of time, the `BehaviorRelay` holds an instance of `NewsUiState`.
- To save and restore the `BehaviorRelay`, we should have a field that holds the latest `NewsUiSt

[2017-06-20 07:15] vRallev commented on #22
I agree, that sounds good.

[2017-06-20 11:11] talentprince opened #23 "What is the correct proguard?"
Hi, team, when my project is using StateSaver in Activity/Fragment, it's fine, because default proguard will keep the name for system views.
but when I use for custom file, it can not find injector because of obfuscate.

I check the README, it shows `This library comes with a ProGuard config. No further steps are required, but all necessary rules can be found here.`

I checked the sample, it's

[c

[2017-06-21 02:51] talentprince commented on #23
My field is default not private, so no need to use @StateReflection (just saw it from README).
Shouldn't we keep all the class with @State annotation like icepick?

[2017-06-21 09:32] kancic opened #24 "Kotlin: saving ObservableField state error"
Hi,

in Kotlin I have a field like this:

[code]

When I try to compile the code I get an error like this:

[code]

And the affected generated code looks like this:

[code]

[2017-06-21 09:40] vRallev commented on #24
Yes, this looks wrong. Can you provide a really small sample to reproduce the issue for me locally? The `ObservableField` class should be enough.

[2017-06-21 15:45] kancic commented on #24
Here it is https://github.com/kancic/State-Error-Reproduction.git

Thank you for the quick reply :)

[2017-06-21 17:08] vRallev commented on #23
Yes, the rule `-keepnames class * { @com.evernote.android.state.State *;}` seems to be necessary. Good catch!

The downside is that this rule also preserves the variable names, although they could be obfuscated. But I didn't find a proguard rule that only keeps the class name and not variable names although they're matching.

[2017-06-21 17:53] vRallev commented on #24
Thanks, I can reproduce the issue now myself. I'll take a look. For now a custom bundler should do the job for you.

[2017-06-21 17:59] kancic commented on #24
Thank you very much.

On Wed, Jun 21, 2017, 19:53 Ralf Wondratschek <notifications@github.com>
wrote:

[2017-06-21 19:30] vRallev commented on #24
Okay, I have a fix ready. Can you give the following build a try?
[code]

[2017-06-21 19:30] vRallev commented on #23
Okay, I have a fix ready. Can you give the following build a try?
[code]

[2017-06-21 20:38] kancic commented on #24
It is working fine now with the updated library, thank you very much. :)

On Wed, Jun 21, 2017 at 9:30 PM Ralf Wondratschek <notifications@github.com>
wrote:

[2017-06-22 09:33] talentprince commented on #23
Fixed! thanks, after you release, I will change to 1.1.1, now I am still using my proguard

[2017-06-22 13:54] vRallev commented on #23
Released: https://github.com/evernote/android-state/releases/tag/v1.1.1

[2017-06-22 13:54] #23 closed

[2017-06-22 13:55] vRallev commented on #24
Released: https://github.com/evernote/android-state/releases/tag/v1.1.1

[2017-06-22 13:55] #24 closed

[2017-07-10 18:41] colinrtwhite opened #25 "Parcelable List fails to be put into bundle"
Using the @State annotation with any `List<T extends Parcelable>` type causes the compilation error "Don't know how to put `java.util.List<T>` into a bundle". I've attached a test project that replicates the issue. Looks like BundlerListParcelable.java is supposed to handle this case.

[TestEvernoteState.zip](https://github.com/evernote/android-state/files/1136668/TestEvernoteState.zip)

[2017-07-10 21:31] vRallev commented on #22
Sorry for the late response. I didn't read your feature request careful enough. What you want to achieve is already possible with a custom `Bundler`.

[code]

And then you can use it this way
[code]

[2017-07-10 21:39] vRallev commented on #25
As you've pointed out, you need to use `BundlerListParcelable`.
[code]

[2017-07-11 05:40] colinrtwhite commented on #25
Ah sorry, for some reason I thought it was automatically applied. However, it looks like I get the same compiler error while using Kotlin.
[TestEvernoteState.zip](https://github.com/evernote/android-state/files/1137803/TestEvernoteState.zip)

[2017-07-11 18:41] vRallev commented on #25
Thanks for the sample. I was able to reproduce the issue.

[2017-07-11 18:49] vRallev commented on #25
I've published a new version containing the fix https://github.com/evernote/android-state/releases/tag/v1.1.2

Feel free to reopen or to create new issue if you find more problems.

[2017-07-11 18:49] #25 closed

[2017-07-19 00:27] ragunathjawahar commented on #22
@vRallev You're right. Closing this issue.

[2017-07-19 00:27] #22 closed

[2017-07-21 14:46] masmil1988 opened #26 "Field must be either non-private or provide a getter and setter method"
In my Kotlin project I have only three fragments using Android-State. Each of them has three properties to save and restore. Some of them are like this

`@State lateinit var mVariable: SomethingParcelable`

The others are Strings and Booleans (all variables are called _mSomething_). None of them is private.
Nevertheless I obtain this error:

[code]

I can't say which of my variables is causing thi

[2017-07-21 15:22] vRallev commented on #26
Can you provide a sample for me to reproduce the issue?

[2017-07-21 15:34] masmil1988 commented on #26
These are my variables:
[code]
where _Item_ is a Parcelable data class.

I save the state in onSaveInstanceState
[code]

and restore it in onActivityCreated
[code]

This is all. I suspect it is a bug (I've read about <a href="https://github.com/evernote/android-state/issues/18">this other issue</a>, maybe related), or maybe Dugger2 is doing something (it is terrible to debug when there is dugger).

[2017-07-24 16:36] vRallev commented on #26
I found the issue. There were some problems with the Hungarian notation in Kotlin. The snippets helped a lot. That's fixed in version `1.1.3`. Please give it a try.

https://github.com/evernote/android-state/releases/tag/v1.1.3

[2017-07-24 16:36] #26 closed

[2017-08-01 14:26] GediminasZukas opened #27 "Another one: field must be either non-private or provide a getter and setter method"
Hi, I just upgraded to 1.1.3 version and seems that #26 wasn't fixed fully. I am encountering weird problems with `Boolean` fields naming in Kotlin language. For example:

[code]
gives me error: `field must be either non-private or provide a getter and setter method.` However, if I change the name from `isProcessingImages` to  `fooBoolean` - everything works.

[2017-08-01 14:47] GediminasZukas commented on #27
Oh, it was my bad. Just forgot to bump `com.evernote:android-state-processor` dependency too during upgrade ;)

[2017-08-01 14:47] #27 closed

[2017-08-02 04:50] thelong1EU commented on #26
I have the same problem here:
Error:Field currentTalk must be either non-private or provide a getter and setter method

[2017-08-02 15:19] vRallev commented on #26
@thelong1EU Even with the new version?

[2017-08-02 18:56] thelong1EU commented on #26
Yes. When I removed the internal modifier, it was all good.

[2017-08-02 19:56] vRallev commented on #26
Just to be 100% sure, can you add a snippet? Then I'll take a look at this in the next version.

[2017-08-07 05:34] ch8154 opened #28 "State save not working"
Hi, I use this lib to save an Int var with Kotlin in my activity. but not working. How do I use this library correctly?

`
 class MainActivity : BaseActivity(), MainMvpView {

    @State var currentPosition: Int = 0

        if (savedInstanceState == null) {

           //do something...

        } else {

            StateSaver.restoreInstanceState(this, savedInstanceState)
           //do someth

[2017-08-08 07:00] Eranot opened #29 "Error restoring a List"
Hey, nice work with the project.
I have encoutered this error:

Error:(60, 59) error: incompatible types: Attribute cannot be converted to ArrayList<Attribute>

The error is refering to this attribute:
`@State var attributes = arrayListOf<Attribute>()`

On my onCreateView Im calling:
`StateSaver.restoreInstanceState(this, savedInstanceState)`

On onSaveInstanceState Im calling:
`StateSaver.saveIns

[2017-08-08 17:15] Eranot commented on #28
Check if this line is being called:
`StateSaver.saveInstanceState(this, outState) // outState is nothing now.
`
My guess is that this if "if (outState != null)" is never true, cause outstate is null until you put something there. So, you are never even saving the variable.
Try take out the if statement, transform this:

[code]

to just this:
`StateSaver.saveInstanceState(this, outState) // outStat

[2017-08-08 19:01] vRallev commented on #28
Please provide a sample to reproduce the issue. That code snippet isn't enough.

[2017-08-08 19:07] vRallev commented on #29
Can you provide a sample for me to reproduce the issue? There are many tests in this project, maybe you can add one there as well.

[2017-08-09 03:20] Eranot commented on #29
Here it goes
https://github.com/Eranot/Android-State-Error-With-SugarORM
I found a solution creating a simple Bundler, but if you still want to see what its going on. The solution is in the project too.

[2017-08-09 04:41] ch8154 commented on #28
I tried this again and I found the problem gone, and I can't reproduce the problem. So I thought maybe my last code had some problems.

Thank you for your help and reply !

[2017-08-09 04:41] #28 closed

[2017-08-10 02:22] talentprince opened #30 "java.lang.ClassCastException when safeGet"
Hi team,

We met a new issue and can not reproduce locally, any thoughts?

[code]

[2017-08-10 09:11] vRallev commented on #30
I don't know what's wrong. In this line it tries to load the generated classes. Without a reproducible sample I can't do anything.

[2017-08-10 15:39] vRallev commented on #29
Thanks, I can reproduce the issue! I'll take a look next week (I'm still on vacation this week).

[2017-08-10 16:21] Eranot commented on #29
That's fine, I'm glad I could help the library to improve, and again, awesome work, congratz

[2017-08-18 20:26] vRallev commented on #30
Fixed in the new version: https://github.com/evernote/android-state/releases/tag/v1.1.4

[2017-08-18 20:26] #30 closed

[2017-08-18 20:26] vRallev commented on #29
Fixed in the new version: https://github.com/evernote/android-state/releases/tag/v1.1.4

[2017-08-18 20:26] #29 closed

[2017-08-25 09:54] iukky commented on #26
same problem here

[2017-08-28 17:30] sgc-code opened #32 "Custom Bundlers with Generics (Kotlin)"
I'm getting a compilation error if I use custom bundler that uses generics in Kotlin.
The same thing works fine with Java. As a workaround I'm using the custom bundler with `@StateReflection`

Here is a minimal sample of the problem

[code]

The generated code for this sample includes the following lines:
[code]
And I get a compilation error

[code]

[2017-08-31 15:55] vRallev commented on #32
Thank you for reporting the issue. It's fixed in version `1.1.5`.

[2017-08-31 15:55] #32 closed

[2017-09-06 13:50] elye opened #33 "Recompilation with sight changes resulted evernote SavedState RestoreState no longer work (reoccur)"
This is originally reported in https://github.com/evernote/android-state/issues/21.
The issue is deem resolved when having a single Kotlin Class, and use gradle-4.0-all.zip

With the latest gradle-4.1-all.zip, the issue reoccurs now, and happens even when there's a single Kotlin class.

I have made changes to the simple project in https://github.com/elye/issue_evernote_state. (using version 1.1.4

[2017-09-08 00:25] talentprince commented on #33
I really think this is a big issue, that I have also encounter, hope owner team can fix it

[2017-09-10 14:03] vRallev commented on #33
I can reproduce the problem with your sample and honestly don't have an idea what's wrong. For me it's a bug in the build tools, I've filed an issue here: https://issuetracker.google.com/issues/65519025

Right now I can't do anything.

[2017-10-14 10:13] vRallev commented on #33
It looks like this issue is fixed in the latest Gradle Plugin: http://androidstudio.googleblog.com/2017/10/android-studio-30-rc-1-now-available.html See the first issue "Missing classes in APK". Can you give it a try?

[2017-10-20 07:03] seanabraham opened #35 "Builds non-deterministically fail with "Couldn't generate classes""
We have a large, multi-module project (~80ish modules) and the javac annotation processing step occasionally fails when using `android-state` with "error: Couldn't generate classes". There are many other annotation processors that also run without issue. They include Dagger, Epoxy, AutoValue, Butterknife, etc.

I'm assuming the error comes from here but I'm not clear on which line in the block is

[2017-10-22 15:06] vRallev commented on #35
I'm sorry about the issue. I've published a new snapshot build with better log messages. Maybe that helps to identify the problem. Do the following to use the snapshot:
[code]

[2017-10-23 09:23] seanabraham commented on #35
Alright, I just kicked off 20 builds on CI and was able to get a failure, this is what the stacktrace looks like:
[code]

And the error is reported as something like `Couldn't generate classes com.airbnb.android.foo.bar.BazFragment$$StateSaver`

I'm going to look a bit more closely at the particular failing fragment to see if anything is amiss (but since this is non-deterministic, I'm not sure wha

[2017-10-23 10:19] vRallev commented on #35
This was really helpful. I've published another build. This time your build shouldn't crash anymore, but you should see a warning instead. The annotation processor comes with a license header. For some reason this file cannot be read from the .jar. Please let me know if that works for you.

[2017-10-23 14:55] seanabraham commented on #35
@vRallev
I don't fully understand how all the pieces work but I can hypothesize about what was causing the crash before, depending on the implementation of `getResourceAsStream(String);`. It's a little unclear what exactly that method does, but it looks like it's delegated to the class loader. If there's any case in which subsequent calls to that method return the _same instance_ I believe what ma

[2017-10-23 15:58] vRallev commented on #35
I'm not sure if that explains it, because creating the stream is inside of a synchronized block. Let me know what you find out.

[2017-10-24 07:05] seanabraham commented on #35
@vRallev, I haven't been able to get the warning yet, I'll let you know if I see anything pop up later though. Everything is looking promising so far! In the meantime, do you plan on cutting a release with the fix in it soon? Just want to know if I should cut an internal release before then.

[2017-10-24 07:38] vRallev commented on #35
I'll be in London starting tomorrow. I plan to release a new version asap, but not before Monday next week.

[2017-10-24 10:21] StephanSchuster opened #36 "Any chance to release under Apache-2.0 ???"
Android-State is released under EPL-1.0. According to our legal department, this means that any Android project which uses Android-State needs to be open sourced as well. :-(

Reason: In general Android projects "statically link" their dependencies (like Android-State). In the compiled APK these dependencies are therefore no more identifiable as "separate modules" which in turn enforces you to ope

[2017-10-24 11:09] vRallev commented on #36
There was a similar issue already, does #10 help you?

[2017-10-30 21:31] seanabraham commented on #35
Any word on that release @vRallev?

[2017-11-01 01:19] seanabraham commented on #35
Ah, I have another update on this @vRallev!

I've run some builds with the latest code here and found a case that still breaks.

Similar to before, the stream closes but we get a warning this time instead of an error which is nice:
[code]

Leads to:
`warning: Couldn't read the license file`

However, we get another error since somewhere in place of the license, "null" is written to the top of the

[2017-11-01 13:00] vRallev commented on #35
I'm sorry for the delay. I've released version `1.1.6`. I've moved the license header now into the code as a String constant. That should fix the problem. Let me know if you run into other issues. Thanks for your help!

[2017-11-01 13:00] #35 closed

[2017-11-01 13:01] vRallev commented on #33
The issue should be fixed now with the release of the Android Gradle Plugin 3.0.0

[2017-11-01 13:01] #33 closed

[2017-11-01 18:28] seanabraham commented on #35
Thank you so much @vRallev!

[2017-11-10 03:09] vjayrajput opened #37 "How to save state of serialize object."
How to save state of serialize object.
Hi i have  one serialize object which have other multiple serialize object and one serialize objects arraylist.
how can i do this ?

[2017-11-10 08:45] vRallev commented on #37
It works like in the sample as long as your object implements the `Serializable` interface. https://github.com/evernote/android-state#usage

[2017-11-10 13:23] KoutaMatsushita opened #38 "How to Save ObservableArrayList ?"
Hello.
My Android project is using Databinding.
I want to save this Object.

[code]

But, a compile error occurred.

[code]

This is generated code:
[code]

What should I do?

[2017-11-10 14:02] vRallev commented on #38
Which version are you using? Can you provide a sample?

[2017-11-10 14:30] KoutaMatsushita commented on #38
@vRallev
I used version `1.1.6`

Here is this sample:
https://github.com/KoutaMatsushita/Android-State-Sample.git

thank you quick reply 😄

[2017-11-22 23:01] elye commented on #33
Tested, looks like Gradle Plugin 3.0.0 fix the issue. Great! Thanks!

[2017-11-23 12:44] vRallev commented on #36
Closing because of inactivity.

[2017-11-23 12:44] #36 closed

[2017-11-23 12:44] vRallev commented on #37
Closing because of inactivity.

[2017-11-23 12:44] #37 closed

[2017-12-28 18:09] DreierF opened #39 "Lint complains about usage of old API"
Seems like the bundles lint checks will be disabled in the near future because they use an old API.
![image](https://user-images.githubusercontent.com/5631865/34419104-46e1490c-ec02-11e7-992a-47e3c2996507.png)

Just wanted to make sure you are aware of the issue.

I'm using Android Plugin 3.0.1 on Gradle 4.1.

[2017-12-29 17:06] vRallev commented on #39
Thanks for opening the issue. We're aware of it.

CC @junchengc

[2018-02-02 17:25] GrahamBorland commented on #26
Same here.
[code]
[code]
Removing the `internal` fixes it.

[2018-02-02 17:47] vRallev commented on #26
@GrahamBorland Can you test `1.2.0` which I released just a couple of minutes ago? If it's still reproducible, could you maybe share a snippet or even contribute a failing pull request?

[2018-02-02 18:11] vRallev commented on #39
I just released version `1.2.0`. The issue should be fixed now.

[2018-02-02 18:11] #39 closed

[2018-02-02 20:43] GrahamBorland commented on #26
@vRallev Still happens with 1.2.0. I'll try to isolate a repro case.

[2018-02-23 08:19] jpelgrim opened #41 "Could not load custom lint check jar file"
Hi there,

We're running android-state v1.2.0. During the lint step we get this error:

[code]

Any thoughts on what is causing this?

[2018-02-23 09:46] vRallev commented on #41
Which Gradle and Android Gradle Plugin version are you using?

[2018-02-23 10:36] jpelgrim commented on #41
Gradle 4.4, gradle plugin 3.0.1

[2018-02-23 10:55] vRallev commented on #41
Do you mind testing it with the Android Gradle Plugin `3.1.0-beta3`? I think there were more changes to Lint, that's why the library is already using it. Otherwise a sample project would be really helpful.

[2018-02-23 14:35] jpelgrim commented on #41
Yes! By using Android Gradle Plugin 3.1.0-beta3 this error is gone!

[2018-02-23 14:35] #41 closed

[2018-02-24 16:44] vRallev commented on #41
Great, thanks for letting me know.

[2018-02-25 15:44] janbina opened #42 "Problem with extended inner class when using kapt"
I've got a problem with extended inner classes when using `kapt`. I have class `BasePresenter` with inner class like this:
[code]
and extending class like this:
[code]
Base class StateSaver is generated with name `BasePresenter$Inner$$StateSaver`, extending class StateSaver looks like this: `SomePresenter$Inner$$StateSaver extends BasePresenter.Inner$$StateSaver` - there is dot instead of dollar s

[2018-02-26 14:59] vRallev commented on #42
I've seen some weird issue with kapt before that. I'll take a look.

[2018-03-02 10:27] bobrusha opened #43 "Proguard config breaks obfuscation of class names"
Current progurad config prevents obfuscation of **all** class names in project.
This issue was fixed https://github.com/evernote/android-state/commit/a367d8d387ea89eacc51fee2ff273e8c9ac17517#diff-f2642babefcefdbfdda3582fb7885354
But after that changes were reverted https://github.com/evernote/android-state/commit/34ee48f488646023cbc3b47bb06e85f36922fe89#diff-f2642babefcefdbfdda3582fb7885354

[2018-03-05 15:50] vganin commented on #43
It seems that there is an error in 34ee48f: `-keepnames` preserves class names and its members while you were needing `-keepclasseswithmembernames` which implements desired conditional logic to preserve class name and member names **if** member wildcards are met.

[2018-03-18 16:25] AlexShafir opened #44 "Omit precise cast when saving Serializable"
First I would like to say many thanks for `@StateReflection` as it allows me to have private fields!

Now I see that when saving `Serializable` object precise cast is used when cast to `Serializable` would suffice.

This prevents, for instance, having private enums as type for fields.

Library Version 1.2.0

Generated code:
[code]

[2018-03-19 02:07] vRallev commented on #44
I don't understand why this is a problem. I just tested it and don't run into issues. Can you provide the sample class?

[2018-03-19 02:19] vRallev commented on #38
Can you please try again with version `1.2.1`? Please reopen if it's still an issue, thanks.

[2018-03-19 02:19] #38 closed

[2018-03-19 02:25] vRallev commented on #42
This should have been fixed in `1.2.1`. Please give this version a try and let me know if you still run into issues. Thanks

[2018-03-19 02:25] #42 closed

[2018-03-19 02:25] vRallev commented on #43
This should have been fixed in `1.2.1`. Please give this version a try and let me know if you still run into issues. Thanks for reporting.

[2018-03-19 08:33] AlexShafir commented on #44
Here is an example:

[code]

[2018-03-19 08:48] AlexShafir opened #45 "Deal with private fields via Bytecode [ENHANCEMENT]"
I hope this can be achieved in remote future.

Whenever we encounter field marked as private, instead of reflection:

1. Private modifiers are removed in bytecode.

2. For this field regular state class is generated (as though it is non-private), but instead
    of saving via annotation processor it is compiled to bytecode and then saved.
    For user reference it can be saved as annotation proces

[2018-03-19 15:07] vRallev commented on #44
Oh, yes, that's expected. But this will also happen with any other private class. That's not a limitation of the library, that's simply how the language scopes work.

[2018-03-19 15:10] vRallev commented on #45
This sounds like an interesting enhancement. Feel free to create a PR. I don't have the time in the near future to implement this.

[2018-03-19 15:13] AlexShafir commented on #44
If library omits direct cast and instead makes cast to Serializable, then it will work.

Imagine that I don't use your library, will I make my enum private or non-private? Surely private.

If you prefer no-fix it, could you point out place in code where cast happens?
I think one should do a fork.

[2018-03-19 17:54] vRallev commented on #44
I'll take a look

[2018-03-26 10:38] WasimMemon opened #46 "Overload resolution ambiguity in saveInstanceState()"
Hi
I was using Icepick library but now with Kotlin I have tried this but I am getting this error. Please help me to solve this asap.

[code]

I am using like this
[code]

![capture1](https://user-images.githubusercontent.com/6543095/37901714-26787872-30c0-11e8-905e-6806a5d21fb1.PNG)

[2018-03-26 10:53] #46 closed

[2018-04-06 08:26] AlexShafir commented on #44
Any traction here?

[2018-04-06 12:14] AlexShafir opened #47 "Bundler that modifies object in get method"
**Problem**
Some objects whose state should be saved are constructed by other library.
For instance, `GoogleMap`.
Thus `Bundler`'s get method's return value is not applicable here.

**Proposal**
Alternative `Bundler` that receives object to restore state of in get method and returns nothing.

**Proposal example**

[code]

[2018-04-06 17:43] vRallev commented on #47
I'm not sure if I can follow you. Do you want something that is lazily retrieved?

[2018-04-07 09:43] AlexShafir commented on #47
See my updated issue above.

Not sure if it can be called "lazy". Probably "mutable", "mutating"

[2018-04-07 17:47] vRallev commented on #47
Sorry, but the sample is confusing to me. What prevents you from doing this now already? You have full control over when you save or restore the instance state.

[2018-04-07 19:01] AlexShafir commented on #47
Yes, you are right, it was confusing a bit. I changed title to **Proposal Example**

Currently `Bundler` returns value in `get `method.
For objects like `GoogleMap` it is not suitable however.
You can only modify their state and not create them.

No, current `Bundler` does not allow modifying existing object, it only replaces value of field.

[2018-04-07 20:28] vRallev commented on #47
I don't get your point and what you're trying isn't recommended anyways. You should only store lightweight objects in the instance state and not full objects. You have full control over when you want to store and restore objects, so you already have all the power.

An easier solution for you would be to create a separate variable for the zoom level and save this value.

[2018-04-07 20:28] #47 closed

[2018-04-08 04:55] AlexShafir commented on #47
"You should only store lightweight objects in the instance state and not full objects."

- I do not try to save whole GoogleMap. Only its properties.

"An easier solution for you would be to create a separate variable for the zoom level and save this value."

- But I do not want to pollute outer class! I don't need zoom level, camera coords etc. during runtime

"I don't get your point and what you

[2018-04-10 10:16] tprochazka opened #48 "Support incremental annotation processing"
Gradle 4.7 provides support for incremental annotation processing.
https://docs.gradle.org/nightly/userguide/java_plugin.html#sec:incremental_annotation_processing

It would be nice to see this lib supporting it. The change is not that big.

[2018-04-10 10:17] tprochazka commented on #48
It is already discussed and implemented here
https://github.com/JakeWharton/butterknife/pull/1230

[2018-04-10 14:49] vRallev commented on #48
Yes, I'll definitely add support for it. Thanks for linking butterknife.

[2018-05-25 10:15] tprochazka commented on #48
Gradle 4.7 is already out.

[2018-05-25 15:03] vRallev commented on #48
It isn't very high on my list right now. Incremental annotation processing will only work, if all annotation processors do support it, e.g. Dagger and Room don't support it, yet. If you use Kotlin with Kapt, then it also won't work. I'm not saying it isn't a good approach, I only mean that multiple things need to come together to have a benefit.

[2018-05-25 15:09] oehme commented on #48
If everyone takes that stance it won't happen at all ;) It's really easy to support it for most processors, so I encourage you to reconsider. The Kotlin team is already in contact with us and I'm sure it'll work soon for Kapt.

[2018-05-25 15:31] vRallev commented on #48
I'm with you. Right now it's low on the TODO list for us, because Kapt isn't supported, yet, and we use Kapt :-) I definitely want to support the incremental processing, because that's the slowest part in our builds.

[2018-05-27 04:07] vRallev commented on #48
@oehme and @tprochazka I've created #49, it would be helpful if you could take a look at it. Compiling with `--info` looks good.

[2018-05-27 15:36] thekalinga opened #50 "Add support for visibility state"
Copied the issue from icepick. This is a common usecase for many people
https://github.com/frankiesardo/icepick/issues/104

---

Currently if there are views whose visibility changes at runtime, we have to explicitly add member variables that represent the visibility status for each view.

This is tedious & error prone.

It would be much better if we add a new annotation `@VisibilityState` that ca

[2018-05-27 18:28] vRallev commented on #50
You can achieve exactly that with a custom `Bundler`, see https://github.com/evernote/android-state#advanced

[2018-05-28 09:42] mac229 opened #51 "Doesn't work for multiple views"
It doesn't work in that case:
http://trickyandroid.com/saving-android-view-state-correctly/

[2018-05-28 11:54] tprochazka commented on #48
I just look on it. But @oehme is the true expert here.
But I can try to build it and use locally.
Just small question, you update to grade 4.8 RC2, it is not working with 4.7 properly?

[2018-05-28 23:55] tprochazka commented on #48
For such testing is extremely useful when project support "./gradlew install" to install artifact without any configuration to local maven repository. There is not set up "group" and from same reason library module is skiped. For example in butternife gradlew install works correctly.

 But I managed it and it looks that it works. I was just not able to make it working WIth Gradle 4.7 for some reas

[2018-05-28 23:59] vRallev commented on #48
I'm still using the old Maven plugin where you need to run `./gradlew uploadArchives`. This will install the artifact to your local maven repository.

[2018-05-29 00:03] tprochazka commented on #48
Ah. I completely forgot that this was used before :-(  So I wasted some time by fixing project to be able use install :-( My fault.

[2018-05-29 00:30] vRallev commented on #48
Incremental annotation processing is now supported in version `1.3.0` https://github.com/evernote/android-state/releases/tag/v1.3.0

[2018-05-29 00:30] #48 closed

[2018-05-29 00:30] vRallev commented on #44
This is fixed in version `1.3.0`

[2018-05-29 00:30] #44 closed

[2018-05-29 12:12] oehme commented on #48
A much better solution is using `--include-build` instead of installing to mavenLocal.

[2018-05-30 17:36] MarcinOrlowski opened #52 "gradle's compile is deprecated"
README tells to use

    compile 'com.evernote:android-state:1.3.0'

while it rather should say:

    implementation 'com.evernote:android-state:1.3.0'

[2018-05-30 18:01] vRallev commented on #52
Fixed, thanks!

[2018-05-30 18:01] #52 closed

[2018-06-04 13:12] mac229 commented on #51
If we use few the same custom views, it won't work. The restored value will be the same for each view like mentioned in linked article.

[2018-06-05 08:19] KR1sis commented on #43
It looks like that this fix is wrong.
With current proguard rules the classes containing @State annotation are obfuscated and change their names. State can't be restored, because in InjectorHelper uses an original class name for baseKey and it doesn't preserved.

[2018-06-05 09:16] KR1sis commented on #43
If add
-keepclasseswithmembernames class * { @com.evernote.android.state.State <fields>;}
it works correctly.
But
-keepclasseswithmembernames class * { @com.evernote.android.state.State *;}
doesn't work

[2018-06-07 04:08] shaishavgandhi05 opened #53 "ParcelableArray is restored and stored as Serializable"
It looks like when you apply `@State` to an array of objects that implement Parcelable, it is saved and restored as Serializable.

[2018-06-10 19:48] vRallev commented on #43
@KR1sis I can reproduce the issue now. My tests had a wrong config. Thanks for the hint!

[2018-06-10 20:08] vRallev commented on #53
I can reproduce the issue. Thanks for reporting!

[2018-06-10 20:19] shaishavgandhi05 commented on #53
Happy to send a PR if you want!

[2018-06-10 21:59] vRallev commented on #53
Thanks, but I have a fix almost ready. I appreciate the help, though!

[2018-06-10 22:13] vRallev commented on #51
Please create a class for me to reproduce the issue.

[2018-06-10 22:13] vRallev commented on #50
Closing because of inactivity.

[2018-06-10 22:13] #50 closed

[2018-06-10 22:35] vRallev commented on #43
@KR1sis I've updated the config in 1.3.1 https://github.com/evernote/android-state/releases/tag/v1.3.1

[2018-06-10 22:35] #43 closed

[2018-06-10 22:35] vRallev commented on #53
That should be fixed in `1.3.1`. Please let me know if it works for you. https://github.com/evernote/android-state/releases/tag/v1.3.1

[2018-06-10 22:35] #53 closed

[2018-07-12 10:59] RahmanAshiq opened #55 "java.lang.Object conflicts with com.evernote.android.state.Injector.Object which results compilation error"
Using version: 1.3.1
Getting compilation error "Error:(61, 90) error: incompatible types: ArrayList<KeyValuePair<String,com.evernote.android.state.Injector.Object>> cannot be converted to ArrayList<KeyValuePair<String,java.lang.Object>>" with the following class implementation.

    public class KeyValuePair <K, V> {
    private K key;
    private V value;

    public KeyValuePair(K key, V value)

[2018-07-20 08:44] 0megaD opened #56 "Migrating projects to androidx while using evernote results in JetifyTransform error."
I'm trying to migrate to androidx and we use your library in our project.
This is currently causing an issue in our project:

This is stopping us from migrating to Google's new Android support packages.
Do you have any idea on what might be causing this? I also filed a bug ticket on Google's tracker, but perhaps there's something you can do as well.

[2018-07-20 23:19] vRallev commented on #56
The annotation processor uses this artifact as a dependency, but it doesn't need to be transformed. Could you please link the issue from the Google tracker? A tiny sample app would also be helpful.

[2018-07-23 16:01] vRallev commented on #56
Thanks, I hope they'll add a fix.

[2018-08-31 07:05] ag2m opened #58 "onSaveInstanceState"
onSaveInstanceState() not called in fagment
how should i do?

[2018-09-12 07:56] jemshit commented on #56
Just found that build is failing because of this dependency. Any workaround ?

[2018-09-24 02:07] #58 closed

[2018-09-24 02:08] vRallev commented on #55
I'm sorry for the long delay. Please provide a full sample app, if this is still an issue. Then I'm going to reopen this issue.

[2018-09-24 02:08] #55 closed

[2018-09-24 02:09] vRallev commented on #51
Closing because of inactivity.

[2018-09-24 02:09] #51 closed

[2018-09-24 02:09] vRallev commented on #45
I'm closing this issue since I won't be able to implement this.

[2018-09-24 02:09] #45 closed

[2018-09-24 03:16] vRallev commented on #56
I released version `1.4.0`, where I migrated all dependencies to AndroidX. It would be great if someone could test their projects again. I don't have high hopes, but maybe the issue is fixed.

[2018-09-24 07:35] jemshit commented on #56
@vRallev same error :/

[2018-09-24 13:33] vRallev commented on #56
Dang, thanks for letting me know

[2018-09-24 20:33] vRallev commented on #56
What about `3.3.0-alpha11`?

[2018-09-24 20:39] janbina commented on #56
Oh, I thought `alpha10` is latest... but no, same error with `alpha11`

[2018-09-25 15:01] markus2610 commented on #56
I can confirm that. android studio 3.3 Preview, 3.3.0-alpha11

[2018-09-27 05:35] RahmanAshiq commented on #55
Clarification needed. What do you mean by full sample app? Some github repo link or the Activity class where this is used? As which class I have given here was actually from my project.....

[2018-09-28 02:57] vRallev commented on #55
I mean a Github project that I can checkout and build without making any changes.

[2018-09-28 09:52] elye opened #59 "Add evernote library got Manifest merger failed com.android.support:support-compat:28.0.0"
My dependency as below
[code]

I got the below error.

[code]

If I remove ` implementation 'com.evernote:android-state:1.4.0' ` then all works well.
How could I resolve this?

I tried
[code]

but same problem persist.

[2018-09-28 09:57] elye commented on #59
I found out that I need to exclude `androidx.core` instead of `com.android.support`

Like

[code]

[2018-09-28 09:57] #59 closed

[2018-09-28 13:58] felixdivo commented on #56
Same problem with version library version 1.4.0 on Android Studio 3.2 stable.

[2018-09-28 14:05] felixdivo commented on #56
I have a slightly different "stack trace" since I am using kapt:

[code]

`Ungültiges Byte 2 von 4-Byte-UTF-8-Sequenz` is German (seemingly the only German piece of text in the entire Android Studio ^^) and translates to `Invalid Byte 2 of 4-Byte-UTF-8-Sequence` (like above).

[2018-09-30 17:05] MFlisar commented on #56
I have the same stacktrace like you @felixdivo

But for now I @janbina 's solution is working

[2018-10-02 19:21] menjoo opened #60 "Can't get android-state to work"
Hi i'm trying to get the library to work without any luck even in a "file->new project" situation.
I can't figure out what is different between the demo app in this repo and mine.

I've put it on https://github.com/menjoo/StateSaverDemo

All i did:
* Create new project
* Add dependency to version 1.3.1 (because new project is not Android X yet)
* Add App class to manifest with the `setEnabledForAl

[2018-10-03 17:44] floynn commented on #56
I managed to make it work by excluding android dependency
[code]
Also just put up a PR which should do the same fix from library side.

[2018-10-06 21:46] vRallev commented on #60
You forgot to apply the Kapt plugin in your gradle files. After this it'll work.
[code]

[2018-10-07 00:37] vRallev commented on #56
@floynn I've merged your fix and it works well with Kotlin and Kapt. But for some reason it's not working with plain Java projects and `annotationProcessor`. In this case the Android classes can't be found during compilation. I'm still trying to find out why this is. Any idea?

[2018-10-07 02:10] vRallev commented on #56
I was able to resolve the problem. The issue should be fixed now. Please give version `1.4.1` a try and let me know if it's really fixed for you all. Thanks for all the help!

[2018-10-07 02:10] #56 closed

[2018-10-07 02:10] #60 closed

[2018-10-08 17:05] floynn commented on #56
@vRallev Sorry for the late response. Thank you for the quick fixes and new release! `1.4.1` works fine for me.

[2018-10-08 20:06] janbina commented on #56
It's fixed for me as well, thanks.

[2018-10-08 22:06] felixdivo commented on #56
Thank you! I can confirm it as well. 😄

[2018-10-16 09:07] sharmapraveen91 opened #62 "Gradle build failed More than one file was found with OS independent path 'META-INF/androidx.localbroadcastmanager_localbroadcastmanager.version"
after integrating it. Unable to gradle-build

Getting below error
`More than one file was found with OS independent path 'META-INF/androidx.localbroadcastmanager_localbroadcastmanager.version'`

[2018-10-16 17:31] vRallev commented on #62
That's not an issue of the library, see https://stackoverflow.com/questions/37283892/how-to-exclude-all-files-under-a-directory-in-gradle

[2018-10-16 17:31] #62 closed

[2018-11-29 22:08] byencho commented on #51
@mac229 This is actually a problem with state saving in general, not this library. If you want to save state in custom views, you need to manually save the state of the children.

[2018-12-06 07:04] alihabbash opened #63 "Gradle build failed"
When I import the library this error is shown:
`Failed to resolve: fragment`
The compile SDK version in my project is 27.
I tried to make google repo in the project build gradle before all other repos
here is my project build.gradle:

       buildscript {
            repositories {
                 google()
                 jcenter()
            }

       dependencies {
             classpath 'com

[2018-12-19 02:13] tomblenz commented on #46
How did you resolve this?

[2019-03-13 08:10] JEuler commented on #10
Sorry to post in closed issue. But I have question about licence. So, if I'm using this library in my project and then deploy it to Google Play, what I should do? As I understand I should not publish sources. But I need to mention that I'm using this library. Is that correct? If yes, how I should mention it (and where)? In app?

[2019-05-07 11:50] wangle82 commented on #62
More than one file was found with OS independent path 'schemaorg_apache_xmlbeans/system/sE130CAA0A01A7CDE5A2B4FEB8B311707/cttxbxcontent1133type.xsb'

[2019-05-07 11:50] wangle82 commented on #62
上面的问题，怎么处理啊？

[2019-05-21 19:00] or-dvir opened #64 "incompatible types: Object cannot be converted to Pair"
i am getting the compile error in the title when trying to save state of `Pair<BaseModel, Int>` with custom bundler

here is BaseModel
[code]

and here is my bundler:
[code]

[2019-10-04 18:21] byencho opened #65 "Why was this library deprecated?"
Was this simply because there was no longer anyone who would actively maintain it or is there some reason to actually discontinue usages of the library if it is currently being used?

[2019-10-04 18:23] #63 closed

[2019-10-04 18:23] #64 closed

[2019-10-04 18:24] vRallev commented on #65
Because I can't maintain it anymore. Nothing is wrong with the library, although I think for Kotlin there are better solutions.

[2019-10-04 18:28] byencho commented on #65
@vRallev Hmm..._do you_ know of any better solutions? This was always the best that I was aware of for Kotlin.

[2019-10-04 18:44] vRallev commented on #65
One solution could be property delegates: https://speakerdeck.com/vrallev/delegation-in-kotlin?slide=37

[2019-10-04 18:47] byencho commented on #65
Hmm...that's basically just [IceKick](https://github.com/tinsukE/icekick) though, right?

[2019-10-04 18:53] vRallev commented on #65
Maybe, I don't know. I don't use either.

[2019-11-29 00:08] tcqq commented on #65
@vRallev Better solutions: https://github.com/liip/viewmodel-savedstate-helpers

[2020-06-25 17:54] Zhuinden commented on #65
[code]

This means the library cannot be forked and improved upon, correct? :thinking:

[2020-06-25 18:11] byencho commented on #65
It can be. You'd just have to look at the details of the license : http://www.eclipse.org/legal/epl-v10.html . There are plenty of forks already.